
backups/

BotaniaVars\.dat

crafttweaker\.log

crash-reports/
/mods-broken
/multishot
/resourcepacks
/saves
/journeymap
/logs
/mods

dumps/

opframe_cache/

\.curseclient

enchiridion\.temp\.txt

hs_err_pid9644\.log

knownkeys\.txt

LifeDatabase\.json

minecraftinstance\.json

NameCache\.json

OpenComputersMod-1\.7\.4\.153-lua52-native\.64\.dll

OpenComputersMod-1\.7\.4\.153-lua53-native\.64\.dll

options\.txt

QuestingParties\.json

QuestProgress\.json

replay_pid9644\.log

servers\.dat

tailslibrary\.json

usercache\.json

usernamecache\.json

\.mixin\.out/

local/ftbutilities/backups\.json
